In [1]:
import pandas as pd
pd.set_option('display.width', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
import requests

In [4]:
counties = pd.read_csv('data/county_list.csv',encoding= 'unicode_escape')

In [6]:
counties.head(3)

  counties$COUNTY
0         Stewart
1       Robertson
2          Sumner

In [7]:
counties.shape

(99, 1)

In [10]:
county_list = counties['counties$COUNTY'].tolist()
#Make dataframe to a list
len(county_list)

99

In [8]:
API_KEY = pd.read_csv('api_key_work.txt', sep=" ", header=None).iloc[0,0]

In [10]:
def get_google_results(address, api_key=None):

    geocode_url = "https://maps.googleapis.com/maps/api/geocode/json?address={}".format(address)
    if api_key is not None:
        geocode_url = geocode_url + "&key={}".format(api_key)
        
    results = requests.get(geocode_url)
    results = results.json()
    
    if len(results['results']) == 0:
        output = {
            "formatted_address" : None,
            "latitude": None,
            "longitude": None,
            "accuracy": None,
            "google_place_id": None,
            "type": None,
            "postcode": None
        }
    else:    
        answer = results['results'][0]
        output = {
            "formatted_address" : answer.get('formatted_address'),
            "latitude": answer.get('geometry').get('location').get('lat'),
            "longitude": answer.get('geometry').get('location').get('lng'),
            "location_type": answer.get('geometry').get('location_type'),
            "place_id": answer.get("place_id"),
            "types": ",".join(answer.get('types')),
            "partial_match" : answer.get('partial_match'),
            "postcode": ",".join([x['long_name'] for x in answer.get('address_components') 
                                  if 'postal_code' in x.get('types')])
        }
        
    # Append some other details:    
    output['input_string'] = address
    output['number_of_results'] = len(results['results'])
    output['status'] = results.get('status')
    
    return output

In [11]:
#Test!
geocode_result = get_google_results('str,hendersonville, tn', API_KEY)
geocode_result

{'formatted_address': '735 E Main St, Hendersonville, TN 37075, USA',
 'latitude': 36.3268836,
 'longitude': -86.5591469,
 'location_type': 'ROOFTOP',
 'place_id': 'ChIJ1dQmQ-s4ZIgRSqWf0GqNRuM',
 'types': 'establishment,point_of_interest,travel_agency',
 'partial_match': None,
 'postcode': '37075',
 'input_string': 'str,hendersonville, tn',
 'number_of_results': 1,
 'status': 'OK'}

In [12]:
len(addresses)

108

In [15]:
results = []
for address in addresses:
    try:
        geocode_result = get_google_results(address, API_KEY)
    except:
        None
            
    results.append(geocode_result)           

    if len(results) % 5 == 0:
        pd.DataFrame(results).to_csv("{}_bak.csv".format('datadumpresults'), index = False)

pd.DataFrame(results).to_csv('datadumpresults.csv', encoding='utf8', index = False)

In [16]:
final_results = pd.read_csv('datadumpresults.csv')
final_results.tail()

     accuracy                                 formatted_address  google_place_id                                       input_string   latitude location_type  longitude  number_of_results partial_match                                           place_id  postcode status  type           types
103       NaN            739 Smelcer St, Seymour, TN 37865, USA              NaN  Smelcer St ! - 739B (Seymour) - B,739 Smelcer ...  35.846579       ROOFTOP -83.759490                  2          True                        ChIJT-G-fKwEXIgRHB4AZh-xx1o   37865.0     OK   NaN  street_address
104       NaN   7460 Twin Brooks Blvd, Knoxville, TN 37918, USA              NaN  Twin Brooks Blvd-  7460 - 1,7460 Twin Brooks B...  36.107905       ROOFTOP -83.876685                  1           NaN                        ChIJgWPM3jJrXIgRTumXb5MMoT4   37918.0     OK   NaN         premise
105       NaN  822 W Locust St #1A, Johnson City, TN 37604, USA              NaN  The Treeage - 822 W Locust - 1A,822 West Locus...  36.305164       ROOFTOP -82.362120                  1          True  EjA4MjIgVyBMb2N1c3QgU3QgIzFBLCBKb2huc29uIENpdH...   37604.0     OK   NaN      subpremise
106       NaN  822 W Locust St #1B, Johnson City, TN 37604, USA              NaN  The Treeage - 822 W Locust - 1B,822 West Locus...  36.305164       ROOFTOP -82.362120                  1          True  EjA4MjIgVyBMb2N1c3QgU3QgIzFCLCBKb2huc29uIENpdH...   37604.0     OK   NaN      subpremise
107       NaN  822 W Locust St #1D, Johnson City, TN 37604, USA              NaN  The Treeage - 822 W Locust - 1D,822 West Locus...  36.305164       ROOFTOP -82.362120                  1          True  EjA4MjIgVyBMb2N1c3QgU3QgIzFELCBKb2huc29uIENpdH...   37604.0     OK   NaN      subpremise